@model IEnumerable<DATABASE_FIRST.Models.Sinhvien>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách sinh viên</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hoten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakhoaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalopNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakhoaNavigation.Makhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalopNavigation.Malop)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Masv">Edit</a> |
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Masv">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Masv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
